body {
  background: linear-gradient(to bottom, #00cc99 0%, #006699 100%);
  color: white;
  font-family: sans-serif;
  padding: 30px;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin-top: 50px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}
